<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Novo treino</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="../style/snackbar.css">
  </head>
  <body>
    <div id="app" class="section">
      <div id="snack-bar-element" :class="snackBarClass">
        {{ snackBarMessage }}
      </div>
      <section class="section is-flexbox is-flex-direction-row new-workout">
        <h2 class="subtitle has-text-centered">Descreva o treino</h2>
        <div class="field">
          <label class="label">
            Nome:
            <input id="name" type="text" class="input is-primary" v-model="name">
          </label>
        </div>
        <div class="field">
          <label class="label">
            Dias da semana:
            <label class="checkbox is-flex mb-2" v-for="(weekday, pos) in availableWeekDays">
              <input type="checkbox" v-model="weekdays[pos]">
              <span class="has-text-weight-normal ml-2">{{ weekday }}</span>
            </label>
          </label>
        </div>
        <div class="field">
          <label class="label">Série e repetições:</label>
          <div v-for="(serie, pos) in series">
            <input type="number" v-model="series[pos]" class="input">
          </div>
          <button @click="addSerie" class="button is-primary is-small mt-2">
            Adicionar série
          </button>
          <button @click="removeSerie" class="button is-danger is-small mt-2 ml-3">
            Remover série
          </button>
        </div>
        <div class="field">
          <label class="label">Possui carga/peso:</label>
          <div class="control">
            <label class="radio">
              <input name="hasWeight" type="radio" value="1" v-model="hasWeight">
              Sim
            </label>
            <label class="radio">
              <input name="hasWeight" type="radio" value="0" v-model="hasWeight">
              Não
            </label>
          </div>
        </div>
        <div class="is-flex is-justify-content-space-around">
          <button class="button is-ghost" onClick="window.location.href='../index.html'">
            Voltar
          </button>
          <button class="button is-primary" @click="save()">
            Salvar
          </button>
        </div>
      </section>
    </div>
  </body>
</html>

<style>
  .new-workout {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ddd;
  }
</style>

<script>
  const { createApp } = Vue
  const DEFAULT_REPETITION = 12
  
  createApp({
    data() {
      return {
        name: null,
        weekdays: Array(7).fill(false),
        series: [DEFAULT_REPETITION],
        setting: [],
        hasWeight: "1",
        availableWeekDays: {
          0: "Domingo",
          1: "Segunda-feira",
          2: "Terça-feira",
          3: "Quarta-feira",
          4: "Quinta-feira",
          5: "Sexta-feira",
          6: "Sábado"
        },
        snackBarClass: "",
        snackBarMessage: "Sucesso!"
      }
    },
    methods: {
      addWorkout (newWorkout) {
        let currentWorkoutPlan = JSON.parse(localStorage.getItem("workoutPlan") || '{}')
        let workoutLastId = Number(localStorage.getItem("workoutLastId") || 0)
        if (!workoutLastId || workoutLastId < 0) {
          currentWorkoutPlan = {} // Make sure it resets all workouts
        }
        workoutLastId++
        currentWorkoutPlan[workoutLastId] = newWorkout
        localStorage.setItem("workoutPlan", JSON.stringify(currentWorkoutPlan))
        localStorage.setItem("workoutLastId", workoutLastId)
      },
      showSnackbar(message, type) {
        this.snackBarMessage = message
        this.snackBarClass = `active ${type}`
        setTimeout(() => this.snackBarClass = "", 3000)
      },
      save() {
        const weekdays = this.weekdays.map(
          (value, pos) => value ? pos : null
        ).filter(value => value != null)
        this.setting = this.series.filter(
          value => Number(value) > 0
        ).map(value => ({repetition: value}))
        const hasWeight = this.hasWeight == "1"
        if (!this.name || !weekdays.length || !this.setting.length) {
          this.showSnackbar("Todos os campos são obrigatórios", "warning")
          return
        }
        this.addWorkout({
          name: this.name,
          weekdays: weekdays,
          setting: this.setting,
          hasWeight
        })
        this.showSnackbar("Sucesso!", "success")
      },
      addSerie() {
        this.series.push(DEFAULT_REPETITION)
      },
      removeSerie() {
        if (this.series.length > 1)
          this.series.pop()
      }
    }
  }).mount('#app')


</script>