<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Novo treino</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app" class="section">
      <div :class="modalClass">
        <div class="modal-background"></div>
        <div class="modal-content is-flex is-justify-content-center modal-content-container">
          <p :class="modalDataClass">{{ modalContent }}</p>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="modalActive = false"></button>
      </div>
      <section class="section is-flexbox is-flex-direction-row new-workout">
        <h2 class="subtitle has-text-centered">Descreva o treino</h2>
        <div class="field">
          <label class="label">
            Nome:
            <input id="name" type="text" class="input is-primary" v-model="name">
          </label>
        </div>
        <div class="field">
          <label class="label">
            Dias da semana:
            <label class="checkbox is-flex mb-2" v-for="(weekday, pos) in availableWeekDays">
              <input type="checkbox" v-model="weekdays[pos]">
              <span class="has-text-weight-normal ml-2">{{ weekday }}</span>
            </label>
          </label>
        </div>
        <div class="field">
          <label class="label">Série e repetições:</label>
          <div v-for="(serie, pos) in series">
            <input type="number" v-model="series[pos]" class="input">
          </div>
          <button @click="addSerie" class="button is-primary is-small mt-2">
            Adicionar série
          </button>
          <button @click="removeSerie" class="button is-danger is-small mt-2 ml-3">
            Remover série
          </button>
        </div>
        <div class="field">
          <label class="label">Possui carga/peso:</label>
          <div class="control">
            <label class="radio">
              <input name="hasWeight" type="radio" value="1" v-model="hasWeight">
              Sim
            </label>
            <label class="radio">
              <input name="hasWeight" type="radio" value="0" v-model="hasWeight">
              Não
            </label>
          </div>
        </div>
        <div class="is-flex is-justify-content-space-around">
          <button class="button is-ghost" onClick="window.location.href='../index.html'">
            Voltar
          </button>
          <button class="button is-primary" @click="save()">
            Salvar
          </button>
        </div>
      </section>
    </div>
  </body>
</html>

<style>
  .new-workout {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ddd;
  }
  .modal-data {
    width: 200px;
    /* max-width: 300px; */
    text-align: center;
    max-height: 200px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .modal-content-container {
    height: 100px;
  }
  .modal-content-success {
    background-color: rgb(5, 196, 5);
    color: white;
  }
  .modal-content-error {
    background-color: rgb(222, 0, 0);
    color: white;
  }
</style>

<script>
  const { createApp } = Vue
  const DEFAULT_REPETITION = 12
  
  createApp({
    data() {
      return {
        name: null,
        weekdays: Array(7).fill(false),
        series: [DEFAULT_REPETITION],
        setting: [],
        hasWeight: "1",
        availableWeekDays: {
          0: "Domingo",
          1: "Segunda-feira",
          2: "Terça-feira",
          3: "Quarta-feira",
          4: "Quinta-feira",
          5: "Sexta-feira",
          6: "Sábado"
        },
        modalActive: true,
        modalContent: "Sucesso!",
        modalType: "success"
      }
    },
    computed: {
      modalClass() {
        return 'modal' + (this.modalActive ? ' is-active' : '')
      },
      modalDataClass() {
        return "modal-data modal-content-" + this.modalType
      }
    },
    methods: {
      addWorkout (newWorkout) {
        let currentWorkoutPlan = JSON.parse(localStorage.getItem("workoutPlan") || '{}')
        let workoutLastId = Number(localStorage.getItem("workoutLastId") || 0)
        if (!workoutLastId || workoutLastId < 0) {
          currentWorkoutPlan = {} // Make sure it resets all workouts
        }
        workoutLastId++
        currentWorkoutPlan[workoutLastId] = newWorkout
        localStorage.setItem("workoutPlan", JSON.stringify(currentWorkoutPlan))
        localStorage.setItem("workoutLastId", workoutLastId)
      },
      save() {
        const weekdays = this.weekdays.map(
          (value, pos) => value ? pos : null
        ).filter(value => value != null)
        this.setting = this.series.filter(
          value => Number(value) > 0
        ).map(value => ({repetition: value}))
        const hasWeight = this.hasWeight == "1"
        console.log(this.name, weekdays, this.setting, hasWeight)
        if (!this.name || !weekdays.length || !this.setting.length) {
          this.modalActive = true
          this.modalType = "error"
          this.modalContent = "Todos os campos são obrigatórios"
          return
        }
        this.addWorkout({
          name: this.name,
          weekdays: weekdays,
          setting: this.setting,
          hasWeight
        })
        alert("Sucesso!")
      },
      addSerie() {
        this.series.push(DEFAULT_REPETITION)
      },
      removeSerie() {
        if (this.series.length > 1)
          this.series.pop()
      }
    }
  }).mount('#app')


</script>