<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vou treinar agora</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="../style/snackbar.css">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title has-text-centered">
          Treinando
        </h1>
        <div id="app">
          <div id="snack-bar-element" :class="snackBarClass">
            {{ snackBarMessage }}
          </div>
          <div v-for="[planId, plan] of Object.entries(todayWorkoutPlan)">
            <section class="section is-flexbox is-flex-direction-row has-text-centered new-section mb-4">
              <h2 class="subtitle has-text-centered">{{ plan.name }}</h2>
              <div class="field is-flex is-flex-direction-column">
                <label v-for="(each, pos) in plan.setting">
                  Série {{ pos + 1 }}: <strong>{{ each.repetition }} repetições</strong>
                  <input class="input" type="number" v-model="each.weight"  v-if="plan.hasWeight">
                </label>
                <hr>
              </div>
              <div class="control">
                <label class="radio">
                  <input name="difficulty" type="radio" value="1" v-model="plan.difficulty">
                  Fácil
                </label>
                <label class="radio">
                  <input name="difficulty" type="radio" value="2" v-model="plan.difficulty">
                  Médio
                </label>
                <label class="radio">
                  <input name="difficulty" type="radio" value="3" v-model="plan.difficulty">
                  Difícil
                </label>
              </div>
            </section>
          </div>
          <div
            class="is-flex is-flex-direction-row-reverse sticky-container"
            @click="save"
            v-if="Object.keys(todayWorkoutPlan).length"
          >
            <button>
              <img :src="saveButtonSrc" alt="save" width="50" height="50">
            </button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

<style>
  .new-section {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ddd;
  }
  .sticky-container {
    position: sticky;
    bottom: 10px;
    right: 0;
  }
  .sticky-container button {
    background-color: rgb(68, 173, 68);
    border-radius: 100px;
    border: 1px solid #ddd;
  }
</style>

<script>
  const { createApp } = Vue
  
  createApp({
    data() {
      return {
        todayWorkoutPlan: {},
        saveButtonSrc: "../icons/save.svg",
        snackBarClass: "",
        snackBarMessage: "Sucesso!"
      }
    },
    mounted() {
      let currentWorkoutPlan = localStorage.getItem("workoutPlan") || '{}'
      const today = new Date()
      currentWorkoutPlan = JSON.parse(currentWorkoutPlan)
      const weekday = today.getDay()
      for (const [key, value] of Object.entries(currentWorkoutPlan)) {
        if (value.weekdays.includes(weekday)) {
          let setting = value.setting.map((eachSet, pos) => {
            eachSet.weight = this.getCurrentWeight(key, pos)
            return eachSet
          })
          this.todayWorkoutPlan[key] = {
            name: value.name,
            setting,
            hasWeight: value.hasWeight,
            difficulty: this.getCurrentDifficulty(key)
          }
        }
      }
      if (!Object.keys(this.todayWorkoutPlan).length) {
        this.showSnackbar("Nenhum treino cadastrado para hoje", "warning")
        setTimeout(() => window.location.href="../index.html", 3000)
        return
      }
    },
    methods: {
      showSnackbar(message, type) {
        this.snackBarMessage = message
        this.snackBarClass = `active ${type}`
        setTimeout(() => this.snackBarClass = "", 3000)
      },
      save() {
        let currentWorkoutList = JSON.parse(localStorage.getItem("workoutData") || '{}')
        const today = new Date()
        const todayDate = today.toISOString().slice(0, 10)
        if (!currentWorkoutList[todayDate]) {
          currentWorkoutList[todayDate] = this.todayWorkoutPlan
        }
        else {
          const merged = {...currentWorkoutList[todayDate], ...this.todayWorkoutPlan}
          currentWorkoutList[todayDate] = merged
        }
        localStorage.setItem("workoutData", JSON.stringify(currentWorkoutList))
        this.showSnackbar("Salvo!", "success")
      },
      getCurrentWeight(planId, settingPos) {
        const today = new Date()
        const todayDate = today.toISOString().slice(0, 10)
        let currentWorkoutList = JSON.parse(localStorage.getItem("workoutData") || '{}')
        let output = currentWorkoutList?.[todayDate]?.[planId].setting[settingPos].weight
        if (!output) {
          console.log("Generate suggestion")
        }
        return output
      },
      getCurrentDifficulty(planId) {
        const today = new Date()
        const todayDate = today.toISOString().slice(0, 10)
        let currentWorkoutList = JSON.parse(localStorage.getItem("workoutData") || '{}')
        return currentWorkoutList?.[todayDate]?.[planId].difficulty
      },
    }
  }).mount('#app')
</script>