<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vou treinar agora</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title has-text-centered">
          Treinando
        </h1>
        <div id="app">
          <div v-for="[planId, plan] of Object.entries(todayWorkoutPlan)">
            <section class="section is-flexbox is-flex-direction-row has-text-centered new-section mb-4">
              <h2 class="subtitle has-text-centered">{{ plan.name }}</h2>
              <div class="field is-flex is-flex-direction-column">
                <label v-for="(each, pos) in plan.setting">
                  Série {{ pos + 1 }}: <strong>{{ each.repetition }} repetições</strong>
                  <input class="input" type="number" v-model="each.weight"  v-if="plan.hasWeight">
                </label>
                <hr>
              </div>
              <div class="control">
                <label class="radio">
                  <input name="difficulty" type="radio" value="1" v-model="plan.difficulty">
                  Fácil
                </label>
                <label class="radio">
                  <input name="difficulty" type="radio" value="2" v-model="plan.difficulty">
                  Médio
                </label>
                <label class="radio">
                  <input name="difficulty" type="radio" value="3" v-model="plan.difficulty">
                  Difícil
                </label>
              </div>
            </section>
          </div>
          <div class="is-flex is-flex-direction-row-reverse sticky-container" @click="save">
            <button>
              <img src="../icons/save.svg" alt="save" width="50" height="50">
            </button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

<style>
  .new-section {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ddd;
  }
  .sticky-container {
    position: sticky;
    bottom: 10px;
    right: 0;
    /* width: 100px; */
  }
  .sticky-container button {
    background-color: rgb(68, 173, 68);
    border-radius: 100px;
    border: 1px solid #ddd;
  }
</style>

<script>
  const { createApp } = Vue
  
  createApp({
    data() {
      return {
        todayWorkoutPlan: {},
      }
    },
    mounted() {
      let currentWorkoutPlan = localStorage.getItem("workoutPlan") || '{}'
      currentWorkoutPlan = JSON.parse(currentWorkoutPlan)
      const today = new Date()
      const weekday = today.getDay()
      for (const [key, value] of Object.entries(currentWorkoutPlan)) {
        if (value.weekdays.includes(weekday)) {
          // TODO: it should restore today's data or suggestion data - not just 0
          let setting = value.setting.map(eachSet => {
            eachSet.weight = 0
            return eachSet
          })
          this.todayWorkoutPlan[key] = {
            name: value.name,
            setting,
            hasWeight: value.hasWeight,
            difficulty: null
          }
        }
      }
      if (!Object.keys(this.todayWorkoutPlan).length) {
        alert("Nenhum treino cadastrado para hoje")
        window.location.href="../index.html"
        return
      }
    },
    methods: {
      save() {
        let currentWorkoutList = JSON.parse(localStorage.getItem("workoutData") || '{}')
        const today = new Date()
        const todayDate = today.toISOString().slice(0, 10)
        if (!currentWorkoutList[todayDate]) {
          currentWorkoutList[todayDate] = this.todayWorkoutPlan
        }
        else {
          const merged = {...currentWorkoutList[todayDate], ...this.todayWorkoutPlan}
          currentWorkoutList[todayDate] = merged
        }
        localStorage.setItem("workoutData", JSON.stringify(currentWorkoutList))
      }
    }
  }).mount('#app')
</script>